<%- include ../layouts/header.ejs %>

<body>
    <%- include ../layouts/left-panel.ejs %>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <%- include ../layouts/header-panel.ejs %>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!--  edit  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Editar Veículo</strong>
                            </div>
                            <div class="card-body">
                                <!-- new vehicle-->
                                <div id="edit-vehicle">
                                    <div class="card-body">

                                        <!--  MSG ERRORS -->
                                        <% if (messages.error) { %>
                                            <p style="color:red"><%- messages.error %></p>
                                        <% } %>
                                        
                                        <% if (messages.success) { %>
                                            <p style="color:green"><%- messages.success %></p>
                                        <% } %>
                                        <form action="/vehicles/edit/<%= id %>" method="post" novalidate="novalidate">
                                            <div class="row">    
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label for="license_plate" class="control-label mb-1">Placa</label>
                                                        <input type="text" id="customer_registry" name="license_plate" class="form-control" value="<%= license_plate %>" onkeyup="this.value = this.value.toUpperCase();"/>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label for="mileage" class="control-label mb-1">KM</label>
                                                        <input type="text" id="mileage" name="mileage" class="form-control" value="<%= mileage %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="model" class="control-label mb-1">Marca/Modelo</label>
                                                        <input type="text" id="model" name="model" class="form-control" value="<%= model %>"/>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <label for="yearModel" class="control-label mb-1">Ano</label>
                                                        <input type="text" id="yearModel" name="yearModel" class="form-control" value="<%= yearModel %>"/>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-1">
                                                    <div class="form-group">
                                                        <label for="engine" class="control-label mb-1">Motorização</label>
                                                        <input type="text" id="year" name="engine" class="form-control" value="<%= engine %>"/>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <label for="fuel" class="control-label mb-1">Combustivel</label>
                                                        <select id="fuel" name="fuel" class="form-control">
                                                            <option value="<%= fuel %>"><%= fuel %></option>
                                                            <option value="Gasolina">Gasolina</option>
                                                            <option value="Álcool">Álcool</option>
                                                            <option value="Flex">Flex</option>
                                                            <option value="GNV">GNV</option>
                                                            <option value="Diesel">Diesel</option>  
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <label for="color" class="control-label mb-1">Cor</label>
                                                        <select id="color" name="color" class="form-control">
                                                            <option value="<%= color %>"><%= color %></option>
                                                            <option value="Preto">Preto</option>
                                                            <option value="Prata">Prata</option>
                                                            <option value="Branco">Branco</option>
                                                            <option value="Vermelho">Vermelho</option>
                                                            <option value="Verde">Verde</option>
                                                            <option value="Azul">Azul</option>
                                                            <option value="Amarelo">Amarelo</option>
                                                            <option value="Bege">Bege</option>
                                                            <option value="Cinza">Cinza</option>
                                                            <option value="Laranja">Laranja</option>
                                                            <option value="Marrom">Marrom</option>
                                                            <option value="Fantasia">Fantasia</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label for="customer" class="control-label mb-1">Cliente</label>
                                                        <select id="customer" name="customer" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="row justify-content-end">
                                                <div class="col-3">
                                                    <button type="submit" class="btn btn-success btn-lg btn-block">Editar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                              
                                </div>
                            </div>
                        </div> <!-- .card -->
                    </div>
                </div>
                <!--  /add -->
                <div class="clearfix"></div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer Copyright -->
        <%- include ../layouts/footer-copyright.ejs %>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
    </div>
    <!--JS FOR INIT SELECT2-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/init/select2-init.js"></script>
    <script src="/js/lib/select2.min.js"></script>

<%- include ../layouts/footer.ejs %>
